
@mixin clear-fix() {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin relative-center($top) {
  position: absolute;
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone-small {
    @media only screen and (max-width: 28em) { @content; } // 450px
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content; } // 600px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content; } // 900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content; } // 1200px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content; } // 1800px
  }
}
