
// COLORS
$color-primary: #072563;
$color-primary-light: #09358d;
$color-primary-dark: #0e234a;

$color-secondary-light: #473cb8;
$color-secondary-dark: #3d349b;

$color-tertiary-light: #2be0aa;
$color-tertiary-dark: #27cc9a;

$color-error: #cf4040;

$color-black: #000;
$color-white: #fff;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #f5f7f9;
$color-grey-light-3: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #464646;
$color-grey-dark-3: #373737;

// FONT
$default-font-size: 1.6rem;

// TEMPLATE
$header-height: 8rem;
$container-width: 120em;
$container-2-width: 100em;
$container-3-width: 50em;

$colored-background-1: rgba(147, 11, 188, 0.9);
$colored-background-2: rgba(9, 31, 188, 0.67);
