
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: Source Sans Pro, Assistant, PT Sans, Helvetica Neue, Tahoma, sans-serif;
}

body {
  box-sizing: border-box;
  background-color: $color-grey-light-2;
}
