
.section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  padding: 2rem 1rem;
  width: $container-2-width;
  max-width: $container-2-width;
}

.actionsLeft {
  display: inline-block;
  float: left;

  .link {
    margin-right: 1rem;
  }
}

.actionsRight {
  display: inline-block;
  float: right;

  .link {
    margin-left: 1rem;
  }
}

.buttonLong {
  display: block;
}

.buttonShort {
  display: none;
}

@include respond(phone) {
  .buttonLong {
    display: none;
  }

  .buttonShort {
    display: block;
  }
}
