
.section {
  display: flex;
  margin-top: -$header-height;
  flex-direction: column;
  align-items: center;
  padding: $header-height 0 6rem 0;
  width: 100%;
  background: linear-gradient(to bottom right, $colored-background-1 0%, $colored-background-2 100%), url(../../../assets/images/devices-bg.jpg) top no-repeat;
  background-size: cover;
}

.headingPrimary {
  display: block;
  font-size: 7rem;
  font-family: inherit;
  color: $color-white;
}

.headingSecondary {
  display: block;
  font-size: 2.5rem;
  font-family: inherit;
  color: $color-white;
}

.stats {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.statsElement {
  font-size: 2.5rem;
  font-family: inherit;
  color: $color-white;
  padding: 1rem 3rem;
  margin-top: 2rem;

  .count {
    margin-left: 0.3rem;
    font-size: 2.5rem;
    font-family: inherit;
    color: $color-tertiary-dark;
  }
}

@include respond(phone) {
  .statsElement {
    padding: 1rem 1rem;

    .count {
      display: block;
      text-align: center;
      margin: 0;
    }
  }
}

@include respond(phone-small) {
  .headingPrimary {
    font-size: 6rem;
  }

  .headingSecondary {
    font-size: 2.3rem;
    font-weight: 400;
  }

  .statsElement {
    font-size: 2rem;
  }
}
