
.section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  padding: 0 2rem;
  width: $container-width;
  max-width: $container-width;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

@include respond(phone) {
  .container {
    padding: 0 0.5rem;
  }
}
