
.field {
  display: block;
}

.inline {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5rem;
}

.inputLabel {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: inherit;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.inputElement {
  display: block;
  width: 100%;
  padding: 1.8rem 2rem;
  background: $color-grey-light-2;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-family: inherit;
  outline: 0;

  &.invalid {
    border: 0.2rem $color-error solid;
  }
}

.invalidMessage {
  display: block;
  color: $color-error;
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: 700;
  padding: 0.4rem 0 0 0;
}
