
.button {
  &,
  &:link,
  &:visited {
    display: inline-block;
    position: relative;
    padding: 1.2rem 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15rem;
    border: none;
    border-radius: 0.8rem;
    transition: all 200ms;
    cursor: pointer;
  }

  &::after {
    content: '';
    z-index: -1;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    transition: all 300ms;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.8);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &.default {
    color: $color-grey-light-2;
    background: $color-grey-dark-3;
  }

  &.info {
    color: $color-grey-light;
    background: $color-secondary-light;
  }

  &.success {
    color: $color-grey-light;
    background: $color-tertiary-dark;
  }

  &.error {
    color: $color-grey-light;
    background: $color-error;
  }

  &:disabled {
    pointer-events: none;

    &:hover {
      transform: none;
      box-shadow: none;

      &::after {
        transform: none;
        opacity: 0;
      }
    }

    &.default {
      opacity: 0.2;
    }

    &.info {
      opacity: 0.2;
    }

    &.success {
      opacity: 0.2;
    }

    &.error {
      opacity: 0.2;
    }
  }
}
