
.section {
  display: flex;
  justify-content: center;
  width: 100%;
  background: $color-secondary-dark;
}

.container {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  width: $container-width;
  max-width: $container-width;
}

.form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.field {
  flex-grow: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.searchField {
  flex-grow: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@include respond(tab-port) {
  .field {
    flex-grow: 1;
  }

  .container {
    padding: 0 1rem;
  }
}
