
.section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  padding: 2rem 2rem;
  width: $container-2-width;
  max-width: $container-2-width;
  background: $color-white;
  margin-bottom: 15rem;
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  font-family: inherit;
  border: none;
  border-spacing: 0;
  border-collapse: collapse;

  th,
  td {
    white-space: nowrap;
  }

  thead {
    font-size: 1.6rem;
    font-weight: 700;

    tr {
      text-align: left;
    }

    th {
      padding: 1.2rem 0.3rem;
    }
  }

  tbody {
    font-size: 1.6rem;
    font-weight: 400;

    tr {
      text-align: left;

      &:hover {
        background-color: $color-grey-light-3;
      }
    }

    td {
      padding: 1rem 0.3rem;
      border-top: 0.1rem solid $color-grey-light-3;
    }

    td:first-child {
      padding-left: 1rem;
      font-weight: 700;
    }
  }
}

.actionLink,
.actionButton {
  float: right;
  margin-right: 2rem;
}

.actionButton {
  &,
  &:link,
  &:visited {
    cursor: pointer;
    border: none;
    background: transparent;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.actionSvg {
  height: 2.5rem;
  display: inline-block;
}

.svgInfo {
  fill: $color-secondary-dark;
}

.svgDanger {
  fill: $color-error;
}

@include respond(tab-port) {
  .table {
    width: 100%;
    min-width: 70rem;
  }
}
