
.device {
  position: relative;
  flex: 0 0 23%;
  align-self: flex-start;
  background: $color-white;
  margin: 1rem;
  border-radius: 0.4rem;
  min-width: 27rem;
}

.devicePreview {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20rem;
  padding: 1rem;

  .image {
    height: 100%;
  }

  .noPreview {
    width: 100%;
    height: 100%;
    background: $color-grey-light-3;
  }

  .noPreviewText {
    font-family: inherit;
    font-size: 2rem;
    font-weight: bold;

    @include absolute_center();
  }

  .noPreviewSpan {
    display: block;
    text-align: center;
  }
}

.deviceInfo {
  position: relative;
  padding: 1.5rem;
}

.borrowed {
  position: absolute;
  top: -3rem;
  left: 0;
  padding: 0.6rem 1rem;
  width: 100%;
  background: rgba($color-black, 0.7);
}

.borrowedText {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 400;
  color: $color-grey-light-2;

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.heading {
  margin-bottom: 2rem;
}

.headingPrimary {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 0.1rem;
}

.headingSecondary {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: inherit;
  letter-spacing: 0.4rem;
}

.os {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 0.1rem;
}

.button {
  display: block;
  width: 100%;
  border-radius: 0 0 0.4rem 0.4rem;
  font-size: 1.4rem;
}

@include respond(phone) {
  .device {
    width: 100%;
  }
}
