
.container {
  position: relative;
  width: 100%;
  height: calc(100vh - #{$header-height});
}

.message {
  font-family: inherit;
  font-size: 5rem;
  font-weight: 700;

  @include relative_center(30%);
}
