
.container {
  position: relative;
  width: 100%;
  height: calc(100vh - #{$header-height});
}

.login {
  width: 50rem;
  background: $color-white;
  padding: 3rem 2rem;
  border-radius: 0.5rem;

  @include relative-center(35%);
}

.heading {
  font-family: inherit;
  padding: 0 0 2rem 0;
}

.headingPrimary {
  display: block;
  font-size: 3.5rem;
  font-weight: 400;
}

.headingSecondary {
  display: block;
  font-size: 1.7rem;
  font-weight: 400;
}

.error {
  padding: 0 0 1rem 0;
}

.errorText {
  display: block;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 700;
  color: $color-error;
}

@include respond(phone) {
  .container {
    padding: 0 2rem;
  }

  .login {
    width: 100%;
  }
}
