
.header {
  z-index: 100;
  color: $color-black;
  position: absolute;
  top: 0;
  left: -0.3rem;
  right: -0.3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  height: $header-height;
  max-height: $header-height;
  background: $color-white;
  transition: all 300ms ease, top 2000ms ease-in-out;
}

.transparent {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  color: $color-grey-light-3;
}
