
.actions {
  display: flex;
  align-items: center;
  margin: 0 4rem;
}

.username {
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 700;
  color: inherit;
  margin-right: 2rem;
}

.manageLink {
  margin-left: 0.5rem;
}

.buttonLong {
  display: block;
}

.buttonShort {
  display: none;
}

.svgIcon {
  fill: $color-grey-light-3;
  height: 2rem;
}

@include respond(tab-port) {
  .buttonLong {
    display: none;
  }

  .buttonShort {
    display: block;
  }
}

@include respond(phone) {
  .actions {
    margin: 0 1rem 0 0;
  }

  .username {
    display: none;
  }
}
