
.section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  padding: 2rem 2rem;
  width: $container-3-width;
  max-width: $container-3-width;
  background: $color-white;
  margin-bottom: 15rem;
  margin-top: 5rem;
}

.heading {
  font-family: inherit;
  font-size: 3.5rem;
  font-weight: 400;
}
