
.brand {
  display: flex;
  align-items: center;
  margin: 0 4rem;
}

.logo {
  padding: 0.8rem;
}

.logoSvg {
  height: 4rem;
  fill: $color-tertiary-dark;
}

.title {
  margin-left: 1rem;
}

.titleLink {
  font-size: 2rem;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.titleLong {
  display: block;
}

.titleShort {
  display: none;
}

@include respond(phone) {
  .brand {
    margin: 0 0 0 1rem;
  }

  .titleLong {
    display: none;
  }

  .titleShort {
    display: block;
  }
}
